body {
    padding-top: 70px;
}
.btn-style{
    min-width: 150px;
    margin-right: 10px;
    margin-top: 20px;
}
.menu{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    padding: 10px;
    color: white;
    background-color: black;
    /*color: steelblue;
    background-color: saddlebrown;*/
}

@media screen and (max-width: 500px){
    h2 small{
        display: none;
    }
}

h2	small	{	color:	lightgray;
				font-size:	small;	
		}

.img-center {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

scrollen{
  overflow-x: scroll;
  overflow-y: scroll;
  height: 600px;
  width: 100%;
  position: absolute;
}