<div class="row">
    <h1 class="col-xs-12 page-header">
        <large>Passwort senden lassen</large>
    </h1>
    <h4>Bitte Geben Sie Ihre Hochschul-E-Mail-Adresse ein, um sich Ihr Kennwort zu zusenden.</h4>

</div>


<div class="row">
    <div class="col-xs-6 form-group">
        <label>E-Mail-Adresse</label>
        <input class="form-control"
               type="text"placeholder="MustermannMa12345@th-nuernberg.de">
    </div>   
</div>

<div class="col-xs-6">
    <button type="button" class="btn btn-success">Kennwort senden lassen!</button>
</div>
