<div class="row">
    <h1 class="col-xs-12 page-header">
        <large>Registrierung</large>
    </h1>
    <h4>Bitte Geben Sie Ihre Daten an, um sich zu registrieren.</h4>

</div>


<div class="row">
    <div class="col-xs-6 form-group">
        <label>Vorname:</label>
        <input class="form-control"
               type="text" placeholder="Vorname">
    </div>
</div>

<div class="row">
    <div class="col-xs-6 form-group">
        <label>Nachname:</label>
        <input class="form-control"
               type="text" placeholder="Nachname">
    </div>
</div>

<div class="row">
    <div class="col-xs-6 form-group">
        <label>E-Mail-Adresse:</label>
        <input class="form-control"
               type="text" placeholder="MustermannMa12345@th-nuernberg.de">
    </div>
</div>


<div class="col-xs-6">
    <button type="button" class="btn btn-success">Registrieren!</button>
</div>

<!-- 
    <div class="row">
    <h2 class="col-xs-12 page-header">
        Patientendetails
        <span ng-bind="patient.firstname()">Vorname</span>
        <span ng-bind="patient.lastname()">Nachname</span>
    </h2>
</div>

<form name="patientForm">
      <div class="row">
           <div class="col-xs-12 form-group">
                <label>Nachname</label>
               <input class="form-control"
                      type="text"
                      ng-disabled="!isEditMode"
                      ng-model="patient.lastname"
                      ng-model-options="{getterSetter: true}"/>
          </div>
    </div>



    <div class="row">
        <div class="col-xs-12 form-group">
            <label>Vorname</label>
            <input class="form-control"
                   type="text"
                   ng-disabled="!isEditMode"
                   ng-model="patient.firstname"
                   ng-model-options="{getterSetter: true}" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-group">
            <label>Geschlecht</label>
            <select class="form-control"
                    ng-disabled="!isEditMode"
                    ng-model="patient.geschlecht"
                    ng-model-options="{getterSetter: true}">
                <option value="">tbd</option>
                <option value="male">Mann</option>
                <option value="female">Frau</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-group">
            <label>Geburtsdatum</label>
            <input class="form-control"
                   type="text"
                   placeholder="TT.MM.JJJJ"
                   ng-disabled="!isEditMode"
                   ng-pattern="/^\d\d\.\d\d\.\d\d\d\d$/"
                   name="birthDateField"
                   ng-model="dateHelper"/>
        </div>
        <div class="col-xs-12 alert alert-warning"
             ng-show="patientForm.birthDateField.$invalid">
           Bitte geben Sie das Geburtsdatum ine der form TT.MM.JJJJ ein.
        </div> 
    </div>

    <div class="row">
        <div class="col-xs-12 form-group">
            <label>Postleitzahl</label>
            <input class="form-control"
                   type="text"
                   ng-disabled="!isEditMode"
                   ng-model="patient.plz"
                   ng-model-options="{getterSetter: true}" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-group">
            <label>Stadt</label>
            <input class="form-control"
                   type="text"
                   ng-disabled="!isEditMode"
                   ng-model="patient.stadt"
                   ng-model-options="{getterSetter: true}" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-group">
            <label>Land</label>
            <input class="form-control"
                   type="text"
                   ng-disabled="!isEditMode"
                   ng-model="patient.land"
                   ng-model-options="{getterSetter: true}" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" ng-hide="isEditMode">
            <button type="button" class="btn btn-default" ng-click="startEdit()">
                <span class="glyphicon glyphicon-pencil"></span>
                Ändern
            </button>
        </div>
        <div class="col-xs-12" ng-show="isEditMode">
            <button type="button" class="btn btn-danger" ng-click="abortEdit()">
                <span class="glyphicon glyphicon-remove"></span>
                Abbruch
            </button>
            <button type="button" class="btn btn-success" 
                    ng-click="acceptEdit()"
                    ng-disabled="patientForm.$invalid">
                <span class="glyphicon glyphicon-ok"></span>
                Speichern
            </button>
        </div>
    </div>

</form>


<div class="row">
    <div class="col-xs-6">
        Geschlecht:
    </div>
    <div class="col-xs-6" ng-bind="patient.geschlecht()">Geschlecht</div>
</div>


<div class="row">
    <div class="col-xs-6">
        Geburtstag:
    </div>
    <div class="col-xs-6" ng-bind="patient.geburtstag()">Geburtstag</div>
</div>

<div class="row">
    <div class="col-xs-6">
        Wohnort:
    </div>
    <div class="col-xs-6">
        <span ng-bind="patient.plz()">PLZ</span>
        <span ng-bind="patient.stadt()">Stadt</span>
   </div class="col-xs-6">
</div>

<div class="row">
    <div class="col-xs-6">
        Land:
    </div>
    <div class="col-xs-6" ng-bind="patient.land()">Land</div>
</div>




    -->


